<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display Result</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
</head>
<body>
    
    <div class="form2">
        <h1 class="name">{{session['name']}}</h1>

        <h4 class="result">Dojo Location: {{session['dojo_location']}}</h4>
        <h4 class="result">Favorite Language: {{session['favorite_language']}} </h4>
        <h4 class="result">Comments: {{session['comments']}}</h4>
        <br>

        <a href="/clear"><input type="submit" value="Go Back" class="btn"></a>

    </div>

<body>
    
</body>
</html>